{% extends 'MajorHome.html' %}
{% block content %}
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'sample.css' %}">

    <script>
        function desvalidation()
        {
        if(!(isNaN(document.f1.dname.value)))
        {
        alert("only letters are allowded");
        document.f1.dname.value="";
        document.f1.dname.focus();
        return false;
        }
        }
    </script>
	    	        	    <script type="text/javascript" src="{% static 'validation.js' %}"></script>
	<script type="text/javascript">
        function calc()
        {
var today = new Date();

var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();

today = yyyy + '-' + mm + '-' + dd;

edate=document.f1.dob.value;

if(today<edate)
{
alert('invalid date')
document.f1.dob.value=""
}
return false

        }
    </script>

</head>
<body>
<form action="{% url 'officers' %}" method="post" name="f1" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="control-group form-group">
						<div class="controls">
							<label>Name</label>
							<input type="text" class="form-control"   name="name" required onchange="return fn_allLetter(document.f1.name);">
						</div>
					</div>
    <div class="control-group form-group">
						<div class="controls">
							<label>Gender</label>
							<input type="radio" value="male" name="gen" ><label>Male</label>
							<input type="radio" value="female" name="gen" ><label>Female</label>

						</div>
					</div>
            <div class="control-group form-group">
						<div class="controls">
							<label>Blood Group</label>
                            <select name="bgrp" class="form-control">
                <option value="0">--select--</option>
                <option value="A+">A+</option>
            <option value="B+">B+</option>
            <option value="AB+">AB+</option></select>

						</div>
					</div>
            <div class="control-group form-group">
						<div class="controls">
							<label>DOB</label>
							<input type="date" class="form-control"   name="dob" required onchange="return calc()">
						</div>
					</div>
    <div class="control-group form-group">
						<div class="controls">
							<label>phone</label>
							<input type="text" class="form-control"   name="phone" required onchange="return fn_checkmobile(document.f1.phone);">
						</div>
					</div>
<div class="control-group form-group">
						<div class="controls">
							<label>Email</label>
							<input type="email" class="form-control"   name="email" required onchange="return fn_checkemail(document.f1.email);">
						</div>
					</div>
    <div class="control-group form-group">
						<div class="controls">
							<label>Designation Name</label>
							<input type="text" class="form-control"   name="dname" required onchange="return fn_allLetter(document.f1.dname);">
						</div>
					</div>
         <div class="control-group form-group">
						<div class="controls">
							<label>Photo</label>
							<input type="file" class="form-control"   name="photo" required>
						</div>
					</div>
    <div class="control-group form-group">
						<div class="controls">
							<label>Force Name</label>
							<input type="text" class="form-control"   name="fname" required onchange="return fn_allLetter(document.f1.fname);">
						</div>
					</div>
    <div class="control-group form-group">
						<div class="controls">
							<label>Register no</label>
							<input type="text" class="form-control"   name="regno" required onchange="return fn_checknumber(document.f1.regno);">
						</div>
					</div>
           <div class="control-group form-group">
						<div class="controls">
							<label>User Name</label>
							<input type="text" class="form-control"   name="uname" required>
						</div>
					</div>

<div class="col-lg-12 col-md-12 col-sm-12">
					<button type="submit" class="btn btn-primary">Add</button>
				</div>




</form>


</body>
</html>
{% endblock %}
