{% extends 'MajorHome.html' %}
{% block content %}
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'sample.css' %}">

    <script>
        function desvalidation()
        {
        if(!(isNaN(document.f1.dname.value)))
        {
        alert("only letters are allowded");
        document.f1.dname.value="";
        document.f1.dname.focus();
        return false;
        }
        }
    </script>
</head>
<body>
<form action="{% url 'team' %}" method="post" name="f1" >
    {% csrf_token %}
    <div class="control-group form-group">
						<div class="controls">
							<label>Team Code</label>
							<input type="text" name="tcode"  class="form-control">
						</div>
					</div>
    <div class="control-group form-group">
						<div class="controls">
							<label>Officer Name</label>
							<select name="name" class="form-control">
                                <option value="0">--select--</option>
                                {% for i in off %}
                                <option value="{{i.id}}">{{i.name}}</option>
                                {% endfor %}
                            </select>
						</div>
					</div>
    <div class="control-group form-group">
						<div class="controls">
							<label>Operation Name</label>
							<select name="oname" class="form-control">
                                <option value="0">--select--</option>
                                {% for i in op %}
                                <option value="{{i.id}}">{{i.oname}}</option>
                                {% endfor %}
                            </select>
						</div>
					</div>


<div class="col-lg-12 col-md-12 col-sm-12">
					<button type="submit" class="btn btn-primary">Add</button>
				</div>




</form>


</body>
</html>
{% endblock %}
