<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<html>
<head>
<title>Armament an Industrial Category Flat Bootstrap Responsive  Website Template | Gallery :: W3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Armament Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- fonts -->
<link href="//fonts.googleapis.com/css?family=Gruppo" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<!-- /fonts -->
<!-- css -->
<link href="{% static 'index-temp/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'index-temp/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'index-temp/css/aos.css' %} " rel='stylesheet prefetch' type="text/css" media="all" />
<link href="{% static 'index-temp/css/gallery.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'index-temp/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- /css -->
<!-- js files -->
<script src="{% static 'index-temp/js/modernizr.js' %}"></script>
<!-- /js files -->
</head>
<body>
<!-- inner banner -->
<section class="inner-banner">
	<!-- navigation section -->
	<div class="navbar-wrapper">
		<div class="container">
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>	
					<a class="navbar-brand" href="#"><h1>Online Military Communication</h1></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right cl-effect-20">
						<li><a href="{% url 'index' %}"><span data-hover="Home">Home</span></a></li>
						<li><a href="{% url 'service' %}"><span data-hover="Services">Services</span></a></li>
						<li class="active"><a href="{% url 'gallery' %}"><span data-hover="Gallery">Gallery</span></a></li>
						<li><a href="{% url 'login' %}"><span data-hover="Login">Login</span></a></li>

						<li><a href="{% url 'contact' %}"><span data-hover="Contact">Contact</span></a></li>
					</ul>
				</div>
			</nav>
			<div class="search-box">
				<div id="sb-search" class="sb-search">
					<form action="#" method="post">
						<input class="sb-search-input" placeholder="Search Here" type="search" name="search" id="search">
						<input class="sb-search-submit" type="submit" value="">
						<span class="sb-icon-search"> </span>
					</form>
				</div>
			</div>
		</div>	
	</div>
	<!-- /navigation section -->
	<div class='header'>
		<h2 class="inner-header">Our Gallery</h2>
	</div>
</section>
<!-- /inner banner -->
<section class="gallery-w3ls">
	<div class="container">
		<h3 class="text-center">Our Gallery</h3>
		<ul class="clearfix demo">
			<li class="gal" data-aos="flip-up">
				<div class="hover01 column">
					<div>
						<figure><img src="{% static 'index-temp/images/gal-img1.jpg' %}" alt="" class="img-responsive"/></figure>
					</div>
				</div>	
			</li>
			<li class="gal" data-aos="flip-up">
				<div class="hover01 column">
					<div>
						<figure><img src="{% static 'index-temp/images/gal-img2.jpg' %}" alt="" class="img-responsive"/></figure>
					</div>
				</div>
			</li>
			<li class="gal" data-aos="flip-up">
				<div class="hover01 column">
					<div>
						<figure><img src="{% static 'index-temp/images/gal-img3.jpg' %}" alt="" class="img-responsive"/></figure>
					</div>
				</div>
			</li>
			<li class="gal" data-aos="flip-up">
				<div class="hover01 column">
					<div>
						<figure><img src="{% static 'index-temp/images/gal-img4.jpg' %}" alt="" class="img-responsive"/></figure>
					</div>
				</div>
			</li>	
			<li class="gal" data-aos="flip-up">
				<div class="hover01 column">
					<div>
						<figure><img src="{% static 'index-temp/images/gal-img5.jpg' %}" alt="" class="img-responsive"/></figure>
					</div>
				</div>
			</li>
			<li class="gal" data-aos="flip-up">
				<div class="hover01 column">
					<div>
						<figure><img src="{% static 'index-temp/images/gal-img6.jpg' %}" alt="" class="img-responsive"/></figure>
					</div>
				</div>
			</li>
			<li class="gal" data-aos="flip-up">
				<div class="hover01 column">
					<div>
						<figure><img src="{% static 'index-temp/images/gal-img7.jpg' %}" alt="" class="img-responsive"/></figure>
					</div>
				</div>
			</li>
			<li class="gal" data-aos="flip-up">
				<div class="hover01 column">
					<div>
						<figure><img src="{% static 'index-temp/images/gal-img8.jpg' %}" alt="" class="img-responsive"/></figure>
					</div>
				</div>
			</li>
			<li class="gal" data-aos="flip-up">
				<div class="hover01 column">
					<div>
						<figure><img src="{% static 'index-temp/images/gal-img9.jpg' %}" alt="" class="img-responsive"/></figure>
					</div>
				</div>
			</li>
			<li class="gal" data-aos="flip-up">
				<div class="hover01 column">
					<div>
						<figure><img src="{% static 'index-temp/images/gal-img10.jpg' %}" alt="" class="img-responsive"/></figure>
					</div>
				</div>
			</li>
			<li class="gal" data-aos="flip-up">
				<div class="hover01 column">
					<div>
						<figure><img src="{% static 'index-temp/images/gal-img11.jpg' %}" alt="" class="img-responsive"/></figure>
					</div>
				</div>
			</li>
			<li class="gal" data-aos="flip-up">
				<div class="hover01 column">
					<div>
						<figure><img src="{% static 'index-temp/images/gal-img12.jpg' %}" alt="" class="img-responsive"/></figure>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>	
<!-- team section -->
<section class="team-w3ls">
	<div class="container">
		<h3 class="text-center">Our Team</h3>
        <div class="col-lg-3 col-md-3 col-sm-6 wthree1">
			<div class="wrapper" data-aos="zoom-in"> 
				<a data-toggle="modal" href="#team1" class="div-img" title="Click">
					<img src="{% static 'index-temp/images/team-img1.jpg' %}" alt="" class="img-responsive">
					<div class="slide-item"> 
						<span class="title">Major Johnny Blaze</span> 
						<span class="author">To Know More Information, Just Click on this Image.</span> 
					</div>
				</a> 
			</div>
			<div class="modal fade" id="team1" tabindex="-1" role="dialog" aria-labelledby="team1" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						    <h4 class="modal-title">Major Johnny Blaze</h4>
						</div>
						<div class="modal-body">
						    <img class="img-responsive" src="{% static 'index-temp/images/team-img1.jpg' %}" alt="">
							<ul class="social-icons2">
								<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							</ul>
						</div>
						<div class="modal-footer">
						    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>    
        <div class="col-lg-3 col-md-3 col-sm-6 wthree2">
			<div class="wrapper" data-aos="zoom-in"> 
				<a data-toggle="modal" href="#team2" class="div-img" title="Click">
					<img src="{% static 'index-temp/images/team-img2.jpg' %}" alt="" class="img-responsive">
					<div class="slide-item"> 
						<span class="title">Colonel Victoria</span> 
						<span class="author">To Know More Information, Just Click on this Image.</span> 
					</div>
				</a> 
			</div>
			<div class="modal fade" id="team2" tabindex="-1" role="dialog" aria-labelledby="team2" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						    <h4 class="modal-title">Colonel Victoria</h4>
						</div>
						<div class="modal-body">
						    <img class="img-responsive" src="{% static 'index-temp/images/team-img2.jpg' %}" alt="">
							<ul class="social-icons2">
								<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							</ul>
						</div>
						<div class="modal-footer">
						    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 wthree3">
			<div class="wrapper" data-aos="zoom-in"> 
				<a data-toggle="modal" href="#team3" class="div-img" title="Click">
					<img src="{% static 'index-temp/images/team-img3.jpg' %}" alt="" class="img-responsive">
					<div class="slide-item"> 
						<span class="title">Commodore Stephen</span> 
						<span class="author">To Know More Information, Just Click on this Image.</span> 
					</div>
				</a> 
			</div>
			<div class="modal fade" id="team3" tabindex="-1" role="dialog" aria-labelledby="team3" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						    <h4 class="modal-title">Commodore Stephen</h4>
						</div>
						<div class="modal-body">
						    <img class="img-responsive" src="{% static 'index-temp/images/team-img3.jpg' %}" alt="">
							<ul class="social-icons2">
								<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							</ul>
						</div>
						<div class="modal-footer">
						    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 wthree4">
			<div class="wrapper" data-aos="zoom-in"> 
				<a data-toggle="modal" href="#team4" class="div-img" title="Click">
					<img src="{% static 'index-temp/images/team-img4.jpg' %}" alt="" class="img-responsive">
					<div class="slide-item"> 
						<span class="title">Captain Jacksparrow</span> 
						<span class="author">To Know More Information, Just Click on this Image.</span> 
					</div>
				</a> 
			</div>
			<div class="modal fade" id="team4" tabindex="-1" role="dialog" aria-labelledby="team4" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						    <h4 class="modal-title">Captain Jacksparrow</h4>
						</div>
						<div class="modal-body">
						    <img class="img-responsive" src="{% static 'index-temp/images/team-img4.jpg' %}" alt="">
							<ul class="social-icons2">
								<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							</ul>
						</div>
						<div class="modal-footer">
						    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
		<div class="clearfix"></div>	
	</div>
</section>
<!-- /team section -->
<!-- footer -->
<section class="footer-w3ls">
	<div class="container">
		<div class="col-lg-6 col-md-6 col-sm-6 footer-agileits-w3layouts1" data-aos="flip-right">
			<a href="#" class="footer-logo"><h3>Army</h3></a>
			<p class="footer-w3-agileits1">“The enemy are only 50 yards from us. We are heavily outnumbered. We are under devastating fire. I shall not withdraw an inch but will fight to our last man and our last round.”</p>
			<ul class="social-icons1">
				<li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				<li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			</ul>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 footer-agileits-w3layouts2" data-aos="flip-left">
			<div class="subscribe">
				<p class="footer-w3-agileits3">“ There will be no withdrawal without written orders and these orders shall never be issued.”-Field Marshal Sam Manekshaw as Core Commander in 1962. “</p>

			</div>	
		</div>
		<div class="clearfix"></div>
		<hr>
		<p class="footer-w3-agileits2"> </a></p>
	</div>
</section>
<!-- /footer -->
<!-- back to top -->
<a href="#0" class="cd-top">Top</a>
<!-- /back to top -->
<!-- js files -->
<script src="{% static 'index-temp/js/jquery.min.js' %}"></script>
<script src="{% static 'index-temp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'index-temp/js/SmoothScroll.min.js' %}"></script>
<script src="{% static 'index-temp/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'index-temp/js/grayscale.js' %}"></script>
<!-- js for back to top -->
<script src="{% static 'index-temp/js/top.js' %}"></script>
<!-- /js for back to top -->
<!-- js for team section -->
<script src="{% static 'index-temp/js/jquery.hoverTransition.js' %}"></script>
<script>
$(function() {
		var options = {speedTime:500};
		$(' .wrapper > a').hoverTransitionBegin(options,'div');
	});
</script>
<!-- /js for team section -->
<!-- js for gallery -->
<script src="{% static 'index-temp/js/jquery.picEyes.js' %}"></script>
<script>
$(function(){
	//picturesEyes($('li'));
	$('li.gal').picEyes();
});
</script>
<!-- /js for gallery -->
<!-- js for inner banner -->
<script src="{% static 'index-temp/js/bgfader.js' %}"></script>
<script>
var myBgFader = $('.header').bgfader([
  '{% static 'index-temp/images/inner1.jpg' %}',
  '{% static 'index-temp/images/inner2.jpg' %}',
  '{% static 'index-temp/images/inner3.jpg' %}',
  '{% static 'index-temp/images/inner4.jpg' %}',
], {
  'timeout': 3000,
  'speed': 3000,
  'opacity': 0.4
})
myBgFader.start()
</script>
<!-- /js for inner banner -->
<!-- js for search button -->
<script src="{% static 'index-temp/js/classie.js' %}"></script>
<script src="{% static 'index-temp/js/uisearch.js' %}"></script>
<script>
	new UISearch( document.getElementById( 'sb-search' ) );
</script>
<!-- /js for search button -->
<!-- js for bootstrap dropdown -->
<script src="{% static 'index-temp/js/index.js' %}"></script>
<!-- /js for bootstrap dropdown -->
<script src="{% static 'index-temp/js/aos.js' %}"></script>
<script src="{% static 'index-temp/js/index2.js' %}"></script>
<!-- /js files -->
</body>
</html>