<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Armament Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- fonts -->
<link href="//fonts.googleapis.com/css?family=Gruppo" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<!-- /fonts -->
<!-- css -->
<link href="{% static 'index-temp/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'index-temp/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'index-temp/css/aos.css' %}" rel='stylesheet prefetch' type="text/css" media="all" />
<link href="{% static 'index-temp/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- /css -->
<!-- js files -->
<script src="{% static 'index-temp/js/modernizr.js' %}"></script>
<!-- /js files -->
</head>
<body>
<!-- inner banner -->
<section class="inner-banner">
	<!-- navigation section -->
	<div class="navbar-wrapper">
		<div class="container">
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><h1>Military Communication</h1></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right cl-effect-20">
						<li class="active"><a href="{% url 'officerhome' %}"><span data-hover="Home">Home</span></a></li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span data-hover="View">View</span></a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'viewoperationofficer' %}">Operation Details</a></li>
								<li class="divider"></li>
								<li><a href="{% url 'viewmajormsg' %}">Text Message</a></li>
							</ul>
						</li>
                        <li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span data-hover="Send">Send</span></a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'staffmsg1' %}">Text Message</a></li>
								<li class="divider"></li>
														</ul>
						</li>

						<li ><a href="{% url 'login' %}"><span data-hover="Logout">Logout</span></a></li>
					</ul>
				</div>
			</nav>
			<div class="search-box">
				<div id="sb-search" class="sb-search">

				</div>
			</div>
		</div>
	</div>
	<!-- /navigation section -->
	<div >
		<h2 class="inner-header"></h2>
	</div>
</section>
<!-- /inner banner -->
<!--<div class="map" data-aos="flip-up">
	<iframe class="googlemaps" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d380510.6741687111!2d-88.01234121699822!3d41.83390417061058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1455598377120" style="border:0" allowfullscreen></iframe>
</div>-->
<section class="contact-w3ls">
	<div class="container">
		<!-- Contact Details Column -->
		<!--<div class="col-md-4 contact-wthree1" data-aos="zoom-in">
			<h3>Contact Details</h3>
			<p class="contact-agileits">3481 Chicken Street, Jack Ass Arena, Chicago 90210, USA.</p>
			<p class="contact-agileits"><i class="fa fa-phone"></i> <abbr title="Phone">Phone</abbr>: (123) 456-7890</p>
			<p class="contact-agileits"><i class="fa fa-envelope-o"></i> <abbr title="Email">Email</abbr>: <a href="mailto:name@example.com">name@example.com</a></p>
			<p class="contact-agileits"><i class="fa fa-clock-o"></i> <abbr title="Hours">Hours</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
		</div>-->
		<div class="col-md-8 contact-wthree2" data-aos="zoom-in">
			<div class="col-xs-12">
				<h3></h3>
			</div>
			{% block content %}
			{% endblock %}
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<!-- footer -->
<section class="footer-w3ls">
	<div class="container">
		<div class="col-lg-6 col-md-6 col-sm-6 footer-agileits-w3layouts1" data-aos="flip-right">


		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 footer-agileits-w3layouts2" data-aos="flip-left">

		</div>
		<div class="clearfix"></div>
		<hr>
	</div>
</section>
<!-- /footer -->
<!-- back to top -->
<a href="#0" class="cd-top">Top</a>
<!-- /back to top -->
<!-- js files -->
<script src="{% static 'index-temp/js/jquery.min.js' %}"></script>
<script src="{% static 'index-temp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'index-temp/js/SmoothScroll.min.js' %}"></script>
<script src="{% static 'index-temp/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'index-temp/js/grayscale.js' %}"></script>
<!-- js for back to top -->
<script src="{% static 'index-temp/js/top.js' %}"></script>
<!-- /js for back to top -->
<!-- js for inner banner -->
<script src="{% static 'index-temp/js/bgfader.js' %}"></script>
<script>
var myBgFader = $('.header').bgfader([
  '{% static 'index-temp/images/inner1.jpg' %}',
  '{% static 'index-temp/images/inner2.jpg' %}',
  '{% static 'index-temp/images/inner3.jpg' %}',
  '{% static 'index-temp/images/inner4.jpg' %}',
], {
  'timeout': 3000,
  'speed': 3000,
  'opacity': 0.4
})
myBgFader.start()
</script>
<!-- /js for inner banner -->
<!-- js for search button -->
<script src="{% static 'index-temp/js/classie.js' %}"></script>
<script src="{% static 'index-temp/js/uisearch.js' %}"></script>
<script>
	new UISearch( document.getElementById( 'sb-search' ) );
</script>
<!-- /js for search button -->
<!-- js for bootstrap dropdown -->
<script src="{% static 'index-temp/js/index.js' %}"></script>
<!-- /js for bootstrap dropdown -->
<script src="{% static 'index-temp/js/aos.js' %}"></script>
<script src="{% static 'index-temp/js/index2.js' %}"></script>
<!-- /js files -->
</body>
</html>